* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inheader {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 45px;
}

.header {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.head {
    text-decoration: none;
    color: #000;
    margin-right: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
}

.nav {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
}

.img {
    margin-left: 40px;
}

.catalog {
    background-image: url(images/bigmain.png);
    max-height: 600px;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    max-width: 545px;
    margin-left: 123px;
}

.p-catalog {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    max-width: 600px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 123px;
    margin-top: 15px;
    padding-bottom: 42px;
}

.a-catalog {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    background-color: #FF9255;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 110px;
    padding-left: 110px;
    border-radius: 20px;
    margin-right: 123px;
    margin-left: 123px;
    margin-top: 19px;
}

.in-catalog {
    padding-top: 134px;
    padding-bottom: 146px;
    display: block;
}

.properties {
    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    padding-bottom: 80px;
}

.fresh-flowers {
    margin-right: 82px;
    max-width: 320px;
    max-height: 413px;
    background-color: #fff;
    border-radius: 30px;
}

.fast-getting {
    margin-right: 82px;
    max-width: 320px;
    max-height: 413px;
    background-color: #fff;
    border-radius: 30px;
    padding-top: 20px;
}

.fresh-flowers-p {
    font-size: 36px;
    font-weight: 400;
    color: #2D2D2D;
    max-width: 124px;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto;
    padding-bottom: 59px;
}

.fresh-flowers-img {
    padding-top: 42px;
    padding-bottom: 27px;
    padding-right: 54px;
    padding-left: 53px;
}

.fast-getting-p {
    font-size: 36px;
    font-weight: 400;
    color: #2D2D2D;
    max-width: 124px;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto;
    padding-bottom: 59px;
}

.fast-getting-img {
    padding-top: 42px;
    padding-bottom: 27px;
    padding-right: 54px;
    padding-left: 53px;
}

.nice-prices {
    margin-right: 82px;
    max-width: 320px;
    max-height: 413px;
    background-color: #fff;
    border-radius: 30px;
}

.nice-prices-p {
    font-size: 36px;
    font-weight: 400;
    color: #2D2D2D;
    max-width: 124px;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto;
    padding-bottom: 59px;
}

.nice-prices-img {
    padding-top: 42px;
    padding-bottom: 27px;
    padding-right: 54px;
    padding-left: 53px;
}

body {
    background-color: #FFF0E8;
}

.fresh-bouqet-h2 {
    font-size: 64px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #2D2D2D;
    text-align: center;
    padding-bottom: 35px;
}

.tamara {
    margin-right: 25px;
    background-image: url(images/tamaraboqett.png);
    max-width: 320px;
    max-height: 490px;
}

.variants {
    display: flex;
    justify-content: center;
}

.tamara-h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400px;
    font-size: 32px;
    color: #fff;
    margin-top: 350px;
    padding-left: 30px;
    margin-right: 70px;
    flex-wrap: nowrap;
}

.tamara-p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400px;
    font-size: 32px;
    color: #FF9255;
    margin-top: 10px;
    margin-left: 30px;
}

.variants {
    padding-bottom: 155px;
}

.sales-h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: #2D2D2D;
    text-align: center;
    padding-bottom: 34px;
}

.tulips-order {
    background-color: #fff;
    border-radius: 20px;
    display: block;
    width: 30%;
    padding-left: 35px;
    padding-right: 53px;
    padding-top: 81px;
    padding-bottom: 81px;
}

.tulips {
    display: flex;
    justify-content: space-between;
}

.tulips-img,
.pink-roses-img {
    width: 65%;
}

.tulips-order-p {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'IBM Plex Sans', sans-serif;
}

.tulips-order-h2 {
    font-size: 64px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 48px;
    margin-top: 28px;
}

.tulips-order-h2-2 {
    font-size: 48px;
    font-weight: 400;
    color: rgba(255, 146, 85, 1);
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 5px;
    padding-bottom: 28px;
}

.tulips-order-a {
    font-size: 36px;
    font-weight: 400;
    color: rgba(255, 146, 85, 1);
    text-decoration: none;
    border: 2px solid #FF9255;
    border-radius: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    max-width: 100%;
}

.pink-roses {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.pink-roses-order {
    background-color: #fff;
    border-radius: 20px;
    display: block;
    width: 30%;
    padding-left: 35px;
    padding-right: 53px;
    padding-top: 81px;
    padding-bottom: 81px;
}

.roses-order-p {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'IBM Plex Sans', sans-serif;
}

.roses-order-h2 {
    font-size: 64px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 48px;
    margin-top: 28px;
}

.roses-order-p-2 {
    font-size: 48px;
    font-weight: 400;
    color: rgba(255, 146, 85, 1);
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 5px;
    padding-bottom: 28px;
}

.roses-order-a {
    font-size: 36px;
    font-weight: 400;
    color: rgba(255, 146, 85, 1);
    text-decoration: none;
    border: 2px solid #FF9255;
    border-radius: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 28px;
    max-width: 100%;
}

.bringing-h2 {
    font-size: 64px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgba(45, 45, 45, 1);
    text-align: center;
    margin-bottom: 61px;
}

.bringing {
    margin-top: 80px;
    padding-bottom: 114px;
}

.in-bringing {
    display: flex;
    align-items: center;
}

.bringing-p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    max-width: 665px;
    margin-left: 25px;
}

footer {
    background-color: #FF9255;
    display: flex;
    justify-content: space-between;
}

.footer-h2 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-top: 80px;
    margin-left: 123px;
    color: rgba(45, 45, 45, 1);
}

.footer-p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    max-width: 549px;
    margin-left: 124px;
    margin-top: 15px;
}

.footer-nav-a {
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-left: 30px;
}

.contacts {
    padding-bottom: 124px;
}

.navigation {
    margin-right: 122px;
    margin-top: 89px;
}

.container {
    max-width: 1355px;
    margin: auto;
}

@media(max-width: 1355px) {
    .variants {
        flex-wrap: wrap;
    }
    .tamara {
        margin-bottom: 5px;
    }
    .bringing-p {
        font-size: 27px;
    }
}

@media(max-width: 1317px) {
    .tulips-order-a {
        font-size: 26px;
    }
}

@media(max-width: 1275px) {
    .tulipani,
    .roses {
        width: 90%;
    }
}

@media(max-width: 1135px) {
    .tulips-order-h2,
    .roses-order-h2 {
        font-size: 42px;
    }
}

@media(max-width: 768px) {
    .roses-order-p-2,
    .tulips-order-h2-2 {
        font-size: 32px;
    }
}

@media(max-width: 1024px){
    .tulips-order{
        margin-right: 70px;
        padding-bottom: 50px;
        padding-top: 40px;
    }
    .tulips-order-p{
        font-size: 16px;
    }
    .tulips-order-h2{
        font-size: 28px ;
    }
    .tulips-order-h2-2{
        font-size: 24px;
    }
    .tulips-order-a{
        font-size: 18px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .pink-roses-order{
        margin-right: 70px;
        padding-bottom: 50px;
        padding-top: 40px;
    }
    .roses-order-p{
        font-size: 16px;
    }
    .roses-order-h2{
        font-size: 28px ;
    }
    .roses-order-p-2{
        font-size: 24px;
    }
    .roses-order-a{
        font-size: 18px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media(max-width: 768px){
    .fresh-flowers-p{
        font-size: 26px;
    }
    .fast-getting-p{
        font-size: 26px;
    }
    .nice-prices-p{
        font-size: 26px;
    }
    .tulips-order-p{
        font-size: 14px;
    }
    .tulips-order-h2{
        font-size: 26px;
        margin-top: 1px;
    }
    .tulips-order-h2-2{
        font-size: 22px;
    }
    .tulips-order-a{
        font-size: 16px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .tulips-order{
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .roses-order-p{
        font-size: 14px;
    }
    .roses-order-h2{
        font-size: 26px;
        margin-top: 1px;
    }
    .roses-order-p-2{
        font-size: 22px;
        padding-bottom: 20px;
    }
    .roses-order-a{
        font-size: 16px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media(max-width:613px){
    h1{
        font-size: 62px;
    }
    .p-catalog{
        font-size: 24px;
    }
    .nice-prices-img{
        padding-top: 22px;
        padding-right: 34px;
        padding-bottom: 7px;
        padding-left: 33px;
    }
    .nice-prices-p{
        font-size: 24px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 5px;
    }
    .fast-getting-img{
        padding-top: 22px;
        padding-right: 34px;
        padding-bottom: 7px;
        padding-left: 33px;
    }
    .fast-getting-p{
        font-size: 24px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 5px;
    }
    .fresh-flowers-img{
        padding-top: 22px;
        padding-right: 34px;
        padding-bottom: 7px;
        padding-left: 33px;
    }
    .fresh-flowers-p{
        font-size: 24px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 5px;
    }
}

@media(max-width: 425px){
    .inheader{
        font-size: 32px;
    }
    .head{
        margin-right: 10px;
        font-size: 16px;
    }
    h1{
        font-size: 48px;
        margin-left: 40px;
    }
    .p-catalog{
        margin-left: 40px;
    }
    .a-catalog{
        padding-right: 30px;
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 15px;
    }
    .fresh-flowers{
        margin-right: 40px;
    }
    .fast-getting{
        margin-right: 40px;
    }
    .tulips-order-p{
        font-size: 10px;
    }
    .tulips-order-h2{
        font-size: 20px;
    }
    .tulips-order-h2-2{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .roses-order-p{
        font-size: 10px;
    }
    .roses-order-h2{
        font-size: 20px;
    }
    .roses-order-p-2{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .tulips-order{
        margin-right: 20px;
    }
    .pink-roses-order{
        margin-right: 20px;
    }
    .footer-h2{
        margin-left: 80px;
    }
    .footer-p{
        margin-left: 80px;
    }
}

@media(max-width: 375px){
    .inheader{
        font-size: 26px;
    }
    .img{
        max-width: 36px;
        max-height: 40px;
        margin-right: 10px;
    }
    .a-catalog{
        padding-right: 20px;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: 18px;
    }
    h1{
        margin-left: 20px;
    }
    .p-catalog{
        margin-left: 20px;
    }
    .fresh-flowers-p, .fast-getting-p, .nice-prices-p{
        font-size: 18px;
    }
    .tulips-order-h2-2{
        padding-bottom: 20px;
    }
    .tulips-order-a{
        margin-right: 80px;
    }
    .tulips-order-h2{
        padding-right: 20px;
    }
    .footer-h2, .footer-p{
        margin-left: 40px;
    }
}

@media(max-width: 320px){
    .inheader{
        font-size: 20px;
    }
    .head{
        font-size: 12px;
    }
    h1{
        font-size: 36px;
    }
    .a-catalog{
        padding-right: 10px;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 5px;
        font-size: 12px;
        margin-right: 10px;
    }
    .fresh-flowers-p, .fast-getting-p, .nice-prices-p{
        font-size: 12px;
    }
    .fast-getting-img{
        padding: 12px 24px 3px 23px;
    }
    .fresh-flowers-img{
        padding: 12px 24px 3px 23px;
    }
    .footer-h2{
        font-size: 26px;
    }
    .footer-p{
        font-size: 18px;
    }
}